.dashboard {
  box-sizing: border-box;
  height: 100vh;
  padding: 20px;
  display: flex;
}
.chatArea {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.center {
  text-align: center;
}
.login-form {
  width: 40%;
  margin: 200px auto;
  padding: 20px;
  background: rgb(39, 88, 153);
}
.input {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  padding: 10px 15px;
  font-size: 1.1rem;
}
.btn {
  padding: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}
.sideBar {
  box-sizing: border-box;
  display: inline-block;
  padding: 20px;
  width: 20%;
  background: gray;
}