body {
  font-family: sans-serif;
}
.dashboard {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
}
.chatArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.center {
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
.login-container {
  display: flex;
  padding: 4rem 8rem;
}
.login-form,
.signup-form {
  border-radius: 2.5rem;
  box-shadow: 0 0 5px 3px #c6cacc;
  margin: 0 2rem;
  padding: 20px;
  background: #f3efef;
}
.login-form-inner,
.signup-form-inner {
  margin: 40px 10px;
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 5px;
  background: linear-gradient(125deg, #5f6a76 -5%, #142734, #122a40, #385565 95%);
  .input {
    background: transparent;
    border-bottom: 1px solid #e6ebed;
  }
  input:focus { color: rgb(252, 252, 216) }
}
.col-1-2 {
  width: 50%;
}
.input {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  padding: 10px 15px;
  font-size: 1.1rem;
  outline: none;
}
.btn {
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}
.login-btn,
.signup-btn {
  padding: .3rem 0;
  margin-top: 4rem;
  width: 60%;
}
.logo {
  font-size: 40px;
  color: #0F99FF;
  font-weight: 900;
  margin: 20px 0;
}
.logo-container {
  margin: 20px 0;
}
.side-bar {
  box-sizing: border-box;
  display: inline-block;
  padding: 20px 0;
  width: 20%;
  background: linear-gradient(125deg, #5f6a76 -5%, #142734, #122a40, #385565 95%);
}
.searchBox {
  display: inline-block;
  padding: 8px;
  margin: 20px;
  background: #253e48;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  width: 80%;
}
.searchBox::placeholder {
  color: rgb(230, 235, 238);
}
.searchBox:focus {
  color: rgb(230, 235, 238);
}
.channel-list,
.username-list {
  color: rgb(179, 183, 187);
  cursor: pointer;
  font-size: 1.05rem ;
  padding: 5px 20px;
  display: flex;
  align-items: center;
}
.username-list:hover {
  background: #253e48;
}
.channel-list:hover {
  background: #253e48;
}
.sendMsgForm {
  display: flex;
}
.selected {
  color: blanchedalmond;
  background: linear-gradient(125deg, #7c8894 -5%, #335369, #506b84, #66889b 95%);
  box-shadow: 0 0 0.1px 0.5px #43a0c4;
}
.currentUser-msg-wrap,
.anotherUser-msg-wrap {
  display: block;
  margin: 5px 0;
  font-size: 1.2rem;
}
.currentUser-msg {
  background: rgb(30, 62, 165);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  clear: right;
}
.anotherUser-msg {
  background: rgb(128, 123, 123);
  padding: 5px 10px;
  border-radius: 5px;
}
.name {
  background: linear-gradient(125deg, #7c8894 -5%, #223644, #44698a, #29495b 95%);
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 30px;
  padding: 10px 0;
  box-shadow: 0 0 3px 1.5px #2e5582;
}
.form-msg {
  margin: 20px 0;
  color: #f3efef;
}
.link-text {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
}
.login-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clip-container {
  padding: 20px;
  border-radius: 2.5rem;
  box-shadow: 0 0 5px 3px #f5f2f2;
}
.clip {
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  clip-path: polygon(0% 0%, 100% 0, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  background: #0F99FF;
  border-radius: 30%;
  height: 150px;
  width: 150px;
}
.gup,
.sup {
  font-size: 1.5rem;
  font-weight: 900;
  color: #fff;
}
.gup {
  margin: 20px 0 0 20px;
  padding: 30px 0 0 0;
}
.sup {
  margin: 10px 25px 0 0;
}
.signup-form {
  width: 40%;
  margin: 20px auto;
}
.signup-btn {
  margin-top: 2rem;
}
.news-feed {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-feed-content {
  padding: 0 9rem;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.3;
  color: #082f4c;
}
.title-container {
  padding: 30px 20px 10px 20px;
  color: rgb(230, 235, 238);
  font-size: 1.1rem;
}
.add-channel {
  text-decoration: none;
  color: #acb2b6;
  border: 1px solid #e6ebee;
  padding: 1px 4px;
  border-radius: 50%;
}
.add-channel:hover {
  color: #fff;
}
.user-name {
  font-size: 1rem;
}
.logout {
  color: rgb(187, 185, 50);
  text-decoration: none;
}
.logout:hover {
  color: #08f1d4;
}
.online-user,
.offline-user {
  display: inline-block;
  -webkit-clip-path: polygon(50% 16%, 58% 39%, 83% 40%, 66% 57%, 69% 82%, 51% 66%, 27% 81%, 35% 57%, 15% 40%, 39% 39%);
  clip-path: polygon(50% 16%, 58% 39%, 83% 40%, 66% 57%, 69% 82%, 51% 66%, 27% 81%, 35% 57%, 15% 40%, 39% 39%);
  background: #08f1d4;
  height: 1rem;
  width: 1rem;
  margin-right: 5px;
}
.offline-user {
  background: gray;
}
.channel-logo {
  margin-right: 5px;
  color: #0F99FF;
}
.message-box {
  outline: none;
  border: 1px solid #082f4c;
  border-radius: 5px;
}
.message-info-container {
  display: flex;
}
.message-user-img {
  height: 50px;
  width: 50px;
}
.message-info {
  display: flex;
  flex-direction: column;
}