body {
  font-family: sans-serif;
}
.dashboard {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
}
.chatArea {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.center {
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
.login-container {
  display: flex;
  padding: 4rem 8rem;
}
.login-form {
  border-radius: 2.5rem;
  box-shadow: 0 0 5px 3px #c6cacc;
  margin: 0 2rem;
  padding: 20px;
  background: #f3efef;
}
.login-form-inner {
  margin: 40px 10px;
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 5px;
  background: linear-gradient(125deg, #5f6a76 -5%, #142734, #122a40, #385565 95%);
  .input {
    background: transparent;
    border-bottom: 1px solid #e6ebed;
  }
  input:focus { color: yellow }
}
.fa-arrow-circle-right {
  font-size: 40px;
  color: yellow;
}
.col-1-2 {
  width: 50%;
}
.input {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  padding: 10px 15px;
  font-size: 1.1rem;
  outline: none;
}
.btn {
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}
.login-btn {
  padding: 10px 50px;
  margin-top: 4rem;
}
.logo {
  font-size: 40px;
  color: #ba3be1;
  font-weight: 900;
  margin: 20px 0;
}
.logo-container {
  margin: 20px 0;
}
.sideBar {
  box-sizing: border-box;
  display: inline-block;
  padding: 20px 10px;
  width: 20%;
  background: gray;
}
.searchBox {
  padding: 5px;
  margin: 10px 0;
}
.channel,
.username {
  color: rgb(177, 183, 189);
  cursor: pointer;
  font-size: 1.2rem ;
  padding: 10px;
}
.sendMsgForm {
  display: flex;
}
.selected {
  background: rgb(32, 42, 54);
  color: blanchedalmond;
}
.currentUser-msg-wrap,
.anotherUser-msg-wrap {
  display: block;
  margin: 5px 0;
  font-size: 1.2rem;
}
.currentUser-msg {
  background: rgb(30, 62, 165);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  clear: right;
}
.anotherUser-msg {
  background: rgb(128, 123, 123);
  padding: 5px 10px;
  border-radius: 5px;
}
.name {
  background: rgb(123, 123, 211);
  font-size: 1.4rem;
  margin-bottom: 20px;
  padding: 10px 0;
}
.form-msg {
  margin: 20px 0;
  color: #f3efef;
}
.link-text {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
}
.login-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clip-container {
  padding: 20px;
  border-radius: 2.5rem;
  box-shadow: 0 0 5px 3px #f5f2f2;
}
.clip {
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  clip-path: polygon(0% 0%, 100% 0, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  background: #ba3be1;
  border-radius: 30%;
  height: 150px;
  width: 150px;
}
.gup,
.sup {
  font-size: 1.5rem;
  font-weight: 900;
  color: #fff;
}
.gup {
  margin: 20px 0 0 20px;
  padding: 30px 0 0 0;
}
.sup {
  margin: 10px 25px 0 0;
}